.div1 {
    width: 30%;
    height: 35px;
    line-height: 35px;
    background-color: lightgreen;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}